<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;type=content-script&amp;dmn=doc-0o-50-docs.googleusercontent.com&amp;app=com.operasoftware.OperaDeveloper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0&amp;stealth=1&amp;uag="></script>
<script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="../Static/Css/MLBB.css">
    <link rel="stylesheet" href="../Static/Css/About.css">
</head>
<body>
    
    <div class="Main">
        <div class="slidebox">
        <nav class="topslide">
            <a href="MLBB.html" class="topslide">Home</a>
            <a href="About.html" class="topslide">About</a>
            <a href="ModelSection.html" class="topslide">Models</a>
            <a href="Contacts.html" class="topslide">Contact</a>
            <div class="srch">
                <input type="text" placeholder="Search.." name="search" id="searchform">
                <img src="../Static/img/search1.png" alt="searchicon" style="padding-top: 2px; cursor: pointer;">
              </div>
        </nav>
        </div>
        
        
        <div class="info">
            <div class="overlay">
                
         
            
            <div id="circle">
                <div class="feature one">
                    
                    <div>
                        <h4 class="aboutInfo">Information:</h4>
                        <p  class="aboutSubInfo">
                           About Us<br>
                           Our Goals<br>
                           Experience</p>
                    </div>
                </div>
                <div class="feature two">
                    
                    <div>
                        <h4 class="aboutSubInfo">About Us</h4>
                        <p class="aboutSubInfo">We are homemade company, with huge exp in 3D printing and we want to share it with you, also u could share yours with us.</p>
                    </div>
                </div>
                <div class="feature three">
                    
                    <div>
                        <h4 class="aboutSubInfo">Our Goals</h4>
                        <p class="aboutSubInfo">We want to create an  environment, where you could share with other members the experience of 3D printing.</p>
                    </div>
                </div>
                <div class="feature four">
                    
                    <div>
                        <h4 class="aboutSubInfo">Experience</h4>
                        <p class="aboutSubInfo">We have huge exp in 3D printing tehnology and we could share it with you.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="controls">
                <img src="../Static/img/coolarrow.png"  alt="arrowup" id="upBtn">
                <h3 class="h3">INFORMATION</h3>
                <img src="../Static/img/coolarrow.png"  alt="arrowdown" id="downBtn">
            </div>
            <div class="animation2 simpleanimation"></div>
            <div class="animation1 simpleanimation"></div>
                
            
        
        </div>
        
    </div>
       <!-- Certificat Photo Upload it when it's responsive :)-->
    <!-- <div class="certificat">
        <img src="../Static/img/certificat.jpg">
    </div> -->

<script src="../Static/Js/About.js"></script>

</body>
</html>