<!DOCTYPE html>
<html>
<head>
    <title>Model Section</title>
    <script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;type=content-script&amp;dmn=doc-10-50-docs.googleusercontent.com&amp;app=com.operasoftware.OperaDeveloper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0&amp;stealth=1&amp;uag="></script>
<script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="../Static/Css/MLBB.css">
</head>
<body>
    <div class="Main">
        <div class="slidebox">
        <nav class="topslide">
            <a href="MLBB.html" class="topslide">Home</a>
            <a href="About.html" class="topslide">About</a>
            <a href="ModelSection.html" class="topslide">Models</a>
            <a href="Contacts.html" class="topslide">Contact</a><br>
            <div class="srch">
                <input type="text" placeholder="Search.." name="search" id="searchform">
                <img src="../Static/img/search1.png" alt="searchicon" style="padding-top: 2px; cursor: pointer;">
              </div>
            </nav>
        </div>
       <h1>Model Products Down Bellow:<br>  
       <img class="Primarymodelphoto" src="../Static/img/3Dprintgear.jpg"></h1>
       <div class="Modelslist">
           <div class="product1">
            <a href="product1.html" target="_blank">
               <img src="../Static/img/product1.png" alt="toy3dmodel"></a>
               <div class="textproduct">Toy for your christmas tree</div>
           </div>
           <div class="product2">
            <a href="product2.html" target="_blank">
                <img src="../Static/img/product2.jpg" alt="yoda3dmodel"></a>
           <div class="textproduct">Little Yoda</div>
         </div>
           <div class="product3">
               <a href="product3.html" target="_blank"> 
            <img src="../Static/img/product3.jpg" alt="stand3dmodel"></a>
            <div class="textproduct">Stand Telephone Support
           </div>
           </div>
       </div>
   </div>
</body>
</html>