<!DOCTYPE html>
<html>
<head>
    <title>Stand Phone Support</title>
    <script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;type=content-script&amp;dmn=doc-0c-50-docs.googleusercontent.com&amp;app=com.operasoftware.OperaDeveloper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0&amp;stealth=1&amp;uag="></script>
<script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="../Static/Css/MLBB.css">
</head>
<body>
    <div class="Main">
        <div class="slidebox">
        <nav class="topslide">
            <a href="MLBB.html" class="topslide">Home</a>
            <a href="About.html" class="topslide">About</a>
            <a href="ModelSection.html" class="topslide">Models </a>
            <a href="Contacts.html" class="topslide">Contact</a></nav>
        </div>
        <h1>Stand Phone Support </h1>
        <div class="products">
        <div class="productcenter">           
            <img src="../Static/img/product3-1.jpg" style="width: 27vw;">
            <p class="p2" style="font-size:1.2vw;">This is a complete stand for Phone/Tablets/Laptops.</p> 
            </div>
            <div class="productmain">
                <div class="productleft">
                    <img src="../Static/img/article3.jpg" style="width:27vw;">
                    
                </div>
                    <div class="productmid">
                   <h6 style="color:white;">Information</h6>
                    <p class="p3"> The 3D print model is simple.<br> It doesn't consume large amounth of materials and time and it's runnable on every 3D printer, so Enjoy it.</p>
                 </div>
                  
                 <div class="productright">
                    <h6>Click to <a href="https://www.google.com" style="text-decoration:none;">Download</a> the 3D Model.</h6>
            <img src="../Static/img/product3.jpg" style="width:24vw;">
           </div>
            </div>
    </div>
    </div>
</body>
</html>