<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;type=content-script&amp;dmn=doc-0k-50-docs.googleusercontent.com&amp;app=com.operasoftware.OperaDeveloper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0&amp;stealth=1&amp;uag="></script>
<script type="text/javascript" nonce="658db13c5f0741b19ab721d93f2" src="//local.adguard.org?ts=1615027184370&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="../Static/Css/MLBB.css">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <!-- Navigation -->
  <div class="container">
    <div class="slidebox">
      <nav class="topslide">
        <a href="MLBB.html" class="topslide">Home</a>
        <a href="A.html" class="topslide">About</a>
        <a href="ModelSection.html" class="topslide">Models</a>
        <a href="C.html" class="topslide">Contact</a>
        <a href="Test.html" class="topslide">Test</a>
        <div class="srch">
          <input type="text" placeholder="Search.." name="search" id="searchform">
          <img class="search" src="../Static/img/search1.png">
        </div>
      </nav>
    </div>
    <!-- Loggin Form -->
    <!-- <form id="form">
            <table cellspacing="2" cellpadding="2" border="1">
              <tr>
                <td align="right">Username</td>
                <td><input type="text" id="username" /></td>
              </tr>
              <tr>
                <td align="right">Email Address</td>
                <td><input type="text" id="email-address" /></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" id="submit-btn" /></td>
              </tr>
            </table>
          </form> -->
    <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Tempore corporis numquam ipsam. Voluptate, voluptas quidem?
      Alias voluptates assumenda aperiam dicta cumque exercitationem distinctio non?
      Laudantium dolor fuga obcaecati, nemo perferendis quaerat
      qui mollitia sunt voluptates consequatur odit enim aspernatur, omnis,
      optio reiciendis non. Corporis porro quo consequuntur enim quidem magni?Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, consectetur nisi ut vitae error sapiente beatae atque voluptatem facere laboriosam exercitationem maxime! Cumque mollitia quia doloribus in officiis. Error, dolorum
    </div>
    <button type="submit" class="btn btn-danger">Danger</button>
    <button type="submit" class="btn btn-primary"> sdawd</button>
  </div>
  <script type="text/javascript" src="../Static/Js/Test.js"></script>
</body>

</html>